body {
    background-color: rgba(168, 235, 18, 0.34);
}

.game {
    top: 50%;
    left: 50%;
    position: absolute;
    width: 750px;
    height: 750px;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background-color: #316539;
}

canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 600px;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}
