* {
    margin: 0;
    padding: 0;
}

.wrapper {
    margin: 80px auto;
    width: 600px;
    background-color: #264e2c;
    font-size: 1rem;
    font-family: 'Caveat Brush', cursive;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
}
