    /*shared styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}


html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.wrapper {
    margin: 80px auto;
    width: 600px;
    height: 600px;
    border-radius: 20px;
    background-color: #a4fa8c;
    font-size: 1rem;
    -webkit-box-shadow: 0 8px 12px 3px rgba(29,59,33,0.33);
    box-shadow: 0 8px 12px 3px rgba(29,59,33,0.33);
}

.btn {
    display: block;
    margin: 10px auto;
    width: 180px;
    height: 40px;
    border-style: none;
    border-radius: 50px;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    color: #316539;
    background-color: #d7f57d;
    -webkit-box-shadow: 0 4px 4px 3px rgba(29,59,33,0.53);
    box-shadow: 0 2px 2px 2px rgba(29, 59, 33, 0.16);
}

.btn:hover {
    cursor: pointer;
    background-color: #e1f3a7;
    color: #316539;
    border-style: none;
    -webkit-box-shadow: 0 4px 4px 3px rgba(29,59,33,0.53);
    box-shadow: 0 4px 4px 2px rgba(29, 59, 33, 0.16);
}

.buttons {
    display: flex;
    justify-content: center;
}

    /*main-page styles*/
.main-menu {
    margin-top: 80px;
}

.main-menu:first-child {
    padding-top: 30px;
}

.container {
    position: absolute;
}

.frog {
    width: 750px;
    margin-top: 40px;
}

    /*game-page styles*/
/*.game {*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    position: absolute;*/
/*    width: 600px;*/
/*    height: 600px;*/
/*    transform: translate(-50%, -50%);*/
/*    border: 2px solid #f8fac5;*/
/*    -webkit-box-shadow: 0 8px 16px 3px rgba(29,59,33,0.3);*/
/*    box-shadow: 0 8px 20px 3px rgba(29,59,33,0.3);*/
/*    background-color: dodgerblue;*/
/*    !*background: url("img/background.png");*!*/
/*}*/

canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*padding: 1em;*/
    max-width: 100%;
    max-height: 100%;
}

#canvas1 {
    background: url("img/background.png");
}

    /*rules-page styles*/
.rules {
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.rules-heading,
.rules-info {
    color: #dce078;
}

.rules-heading {
    color: #f3fa42;
    font-size: 1.2em;
    text-shadow: 2px 2px 6px rgb(0, 94, 0);
}

.rules-info {
    font-size: 1.1em;
    font-weight: 500;
    text-indent: 10px;
    text-align: justify;
    color: #494949;
}

.rules-logo {
    display: flex;
    justify-content: center;
}

.rules-logo img {
    margin-top: -80px;
    width: 100px;
    height: 100px;
}

    /*records-page styles*/
.records {
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.records-heading,
.records-info {
    color: #3c5443;
}

.records-heading {
    text-align: center;
}

.records-info {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    width: 500px;
    height: 300px;
    margin: 10px auto;
    border: 4px solid #316539;
    font-weight: 500;
}

.user-name {
    width: 200px;
    height: 40px;
}

.user-score {
    width: 200px;
    height: 40px;
}

.records-logo {
    display: flex;
    justify-content: center;
}

.records-logo img {
    margin-top: -70px;
    width: 100px;
    height: 100px;
}

.wrapper .cont {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 500px;
    margin: 20px;
    padding: 20px;
    font-size: 1rem;
}

.username {
    font-size: 1.5em;
    text-align: center;
    width: 250px;
}

.userscore {
    font-size: 1.5em;
    text-align: center;
    width: 100px;
}

    /*about-game-page styles*/
.history {
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.history-heading,
.history-info {
    font-size: 1.3em;
    color: #f3fa42;
    text-shadow: 2px 2px 6px rgb(0, 94, 0);
}

.history-text {
    font-size: 1.2em;
    font-weight: 500;
    /*text-align: justify;*/
    text-indent: 10px;
    color: #494949;
}

.history-text p {
    text-align: justify;
}

@media (max-width: 1180px) {
    .wrapper {
        margin: 80px auto;
        width: 500px;
        height: 500px;
        border-radius: 15px;
    }

    .btn {
        margin: 10px auto;
        width: 140px;
        height: 35px;
        font-size: 18px;
    }

    .frog {
        width: 550px;
        margin-top: 40px;
    }

    .rules {
        font-size: 1em;
    }

    .rules-heading {
        color: #f3fa42;
        font-size: 1em;
        text-shadow: 2px 2px 6px rgb(0, 94, 0);
    }

    .rules-info {
        font-size: 0.95em;
        text-indent: 8px;
    }

    .rules-logo img {
        margin-top: -60px;
        width: 80px;
        height: 80px;
    }

    .history-heading,
    .history-info {
        font-size: 1em;
    }

    .history-text {
        font-size: 1em;
        text-indent: 8px;
    }
}

@media (max-width: 850px) {
    .wrapper {
        width: 360px;
        height: 360px;
        border-radius: 10px;
    }

    .frog {
        width: 360px;
        margin-top: 10px;
    }

    .rules {
        font-size: 0.9em;
        margin: 10px;
        padding: 0;
    }

    .rules-heading {
        font-size: 0.8em;
    }

    .rules-info {
        font-size: 0.7em;
        text-indent: 6px;
    }

    .rules-logo img {
        margin-top: -40px;
        width: 50px;
        height: 50px;
    }

    .history-heading,
    .history-info {
        font-size: 0.8em;
    }

    .history-text {
        font-size: 0.7em;
        text-indent: 6px;
    }

    .btn {
        margin: 5px auto;
        width: 120px;
        height: 30px;
        font-size: 16px;
    }
}
