    /*shared styles*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    margin: 80px auto;
    width: 600px;
    height: 600px;
    border-radius: 20px;
    background-color: #264e2c;
    font-size: 1rem;
    -webkit-box-shadow: 0 8px 12px 3px rgba(29,59,33,0.53);
    box-shadow: 0 8px 12px 3px rgba(29,59,33,0.53);
}

.btn {
    font-family: 'Montserrat', sans-serif;
    display: block;
    margin: 10px auto;
    width: 150px;
    height: 40px;
    border-radius: 50px;
    border-style: none;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: #316539;
    background-color: #dce078;
}

.btn:hover {
    cursor: pointer;
    background-color: #4ca25a;
    color: #f8fac5;
}

.buttons {
    display: flex;
    justify-content: center;
    padding: 10px;
}

    /*main-page styles*/
.main-menu {
    margin-top: 80px;
}

.main-menu:first-child {
    padding-top: 30px;
}

.container {
    position: absolute;
}

.frog {
    width: 750px;
    margin-top: 40px;
}

    /*game-page styles*/
.game {
    top: 50%;
    left: 50%;
    position: absolute;
    width: 600px;
    height: 600px;
    transform: translate(-50%, -50%);
    border: 2px solid #2c4d31;
    -webkit-box-shadow: 0 8px 12px 3px rgba(29,59,33,0.53);
    box-shadow: 0 8px 12px 3px rgba(29,59,33,0.53);
    background-color: dodgerblue;
    /*background: url("img/background.png");*/
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.score-board {
    top: -100px;
}

    /*rules-page styles*/
.rules {
    padding: 10px;
    margin: 10px;
    font-family: 'Caveat Brush', cursive;
    text-align: center;
}

.rules-heading,
.rules-info {
    color: #dce078;
}

.rules-info {
    text-indent: 10px;
    text-align: justify;
    color: #f8fac5;
}

.rules-logo {
    display: flex;
    justify-content: center;
}

.rules-logo img {
    margin-top: -60px;
    width: 100px;
    height: 100px;
}

    /*records-page styles*/
.records {
    padding: 10px;
    margin: 10px;
    font-family: 'Caveat Brush', cursive;
    text-align: center;
}

.records-heading,
.records-info {
    color: #dce078;
}

.records-heading {
    text-align: center;
}

.records-info {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    width: 500px;
    height: 300px;
    margin: 10px auto;
    border: 4px solid #316539;
}

.user-name {
    width: 200px;
    height: 40px;
}

.user-score {
    width: 200px;
    height: 40px;
}

.records-logo {
    display: flex;
    justify-content: center;
}

.records-logo img {
    margin-top: -70px;
    width: 100px;
    height: 100px;
}

    table{
        border-collapse: collapse;
        width: 90%;
        margin: 0 auto;
        color: #f8fac5;
    }
    th, td{
        padding: 10px 20px;
        border: 1px solid #019a01;
    }

    /*about-game-page styles*/
.history {
    padding: 10px;
    margin: 10px;
    font-family: 'Caveat Brush', cursive;
    text-align: center;
}

.history-heading,
.history-info {
    color: #dce078;
}

.history-text {
    text-align: justify;
    text-indent: 10px;
    color: #f8fac5;
}
