    /*shared styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}
.wrapper {
    margin: 80px auto;
    width: 600px;
    height: 600px;
    border-radius: 20px;
    background-color: rgba(82, 197, 74, 0.2);
    font-size: 1rem;
    -webkit-box-shadow: 0 8px 12px 3px rgba(29,59,33,0.33);
    box-shadow: 0 8px 12px 3px rgba(29,59,33,0.33);
}

.wrapp {
    width: 100%;
    height: 100%;
    background-color: #f8fac5;
}

.btn {
    font-family: 'Montserrat', sans-serif;
    display: block;
    margin: 10px auto;
    width: 150px;
    height: 40px;
    border-radius: 50px;
    border-style: none;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: rgba(49, 101, 57, 0.8);
    background-color: #E3EFBC;
}

.btn:hover {
    cursor: pointer;
    background-color: #e1f3a7;
    color: #316539;
    border-style: none;
    -webkit-box-shadow: 0 4px 4px 3px rgba(29,59,33,0.53);
    box-shadow: 0 4px 4px 2px rgba(29, 59, 33, 0.16);
}

.buttons {
    display: flex;
    justify-content: center;
    padding: 10px;
}

    /*main-page styles*/
.main-menu {
    margin-top: 80px;
}

.main-menu:first-child {
    padding-top: 30px;
}

.container {
    position: absolute;
}

.frog {
    width: 750px;
    margin-top: 40px;
}

    /*game-page styles*/
.game {
    top: 50%;
    left: 50%;
    position: absolute;
    width: 600px;
    height: 600px;
    transform: translate(-50%, -50%);
    border: 2px solid #f8fac5;
    -webkit-box-shadow: 0 8px 16px 3px rgba(29,59,33,0.3);
    box-shadow: 0 8px 20px 3px rgba(29,59,33,0.3);
    background-color: dodgerblue;
    /*background: url("img/background.png");*/
}

canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 7em;
}

.score-board {
    /*top: 220px;*/
}

    /*rules-page styles*/
.rules {
    padding: 10px;
    margin: 10px;
    font-family: 'Caveat Brush', cursive;
    text-align: center;
}

.rules-heading,
.rules-info {
    color: #dce078;
    text-shadow: 2px 2px 6px rgba(150, 150, 150, 0.71);
}

.rules-heading {
    font-size: 1.2em;
}

.rules-info {
    font-size: 1.1em;
    text-indent: 10px;
    text-align: justify;
    color: #f8fac5;
}

.rules-logo {
    display: flex;
    justify-content: center;
}

.rules-logo img {
    margin-top: -80px;
    width: 100px;
    height: 100px;
}

    /*records-page styles*/
.records {
    padding: 10px;
    margin: 10px;
    font-family: 'Caveat Brush', cursive;
    text-align: center;
}

.records-heading,
.records-info {
    color: #3c5443;
}

.records-heading {
    text-align: center;
}

.records-info {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    width: 500px;
    height: 300px;
    margin: 10px auto;
    border: 4px solid #316539;
}

.user-name {
    width: 200px;
    height: 40px;
}

.user-score {
    width: 200px;
    height: 40px;
}

.records-logo {
    display: flex;
    justify-content: center;
}

.records-logo img {
    margin-top: -70px;
    width: 100px;
    height: 100px;
}

    table{
        border-collapse: collapse;
        width: 90%;
        margin: 0 auto;
        font-size: 2em;
        color: #3c5443;
    }
    th, td{
        text-align: center;
        padding: 10px 20px;
        border: 2px solid #3c5443;
    }

    /*about-game-page styles*/
.history {
    padding: 10px;
    margin: 10px;
    font-family: 'Caveat Brush', cursive;
    text-align: center;
}

.history-heading,
.history-info {
    font-size: 1.3em;
    color: #dce078;
    text-shadow: 2px 2px 6px rgba(129, 129, 129, 0.6);
}

.history-text {
    font-size: 1.2em;
    text-align: justify;
    text-indent: 10px;
    color: #f8fac5;
    text-shadow: 2px 2px 6px rgba(129, 129, 129, 0.8);
}
