.history {
    padding: 10px;
    margin: 10px;
    font-family: 'Caveat Brush', cursive;
    text-align: center;
}

.history-heading,
.history-info {
    color: #dce078;
}

.history-text {
    text-align: justify;
    text-indent: 10px;
    color: #f8fac5;
}
