@import "../shared.css";
.rules {
    padding: 10px;
    margin: 10px;
    font-family: 'Caveat Brush', cursive;
    text-align: center;
}

.rules-heading,
.rules-info {
    color: #dce078;
}

.rules-info {
    text-indent: 10px;
    text-align: justify;
    color: #f8fac5;
}

.rules-logo {
    display: flex;
    justify-content: center;
}

.rules-logo img {
    margin-top: -60px;
    width: 100px;
    height: 100px;
}
