* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(168, 235, 18, 0.34);
}

.wrapper {
    margin: 80px auto;
    width: 600px;
    height: 600px;
    background-color: #264e2c;
    font-size: 1rem;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
}

.rules {
    padding: 10px;
    margin: 10px;
    font-family: 'Caveat Brush', cursive;
    text-align: center;
}

.rules-heading,
.rules-info {
    color: #dce078;
}

.rules-info {
    text-indent: 10px;
    text-align: justify;
    color: #f8fac5;
}

.buttons {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.button {
    width: 150px;
    height: 30px;
    border-radius: 50px;
    border-style: none;
    background-color: #dce078;
    font-family: 'Caveat Brush', cursive;
    color: #316539;
    font-size: 18px;
}

.button:hover {
    cursor: pointer;
    background-color: #4ca25a;
    color: #f8fac5;
}

.rules-logo {
    display: flex;
    justify-content: center;
}

.rules-logo img {
    margin-top: -60px;
    width: 100px;
    height: 100px;
}
